<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"  rel="stylesheet">
    <title>allin simulator</title>
</head>
<body>

    <div class="container">
        <h3>ll game</h3>

        <form th:action method="post" th:object="${request}" onsubmit="return validateEventIds()">

            <div class="card">
                <div class="card-header bg-success">
                    LL game
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2 py-2">
                            <label for="amount">테스트 서버</label>
                        </div>
                        <div class="col-md-4 py-2">
                            <select th:field="*{target}" class="form-select" th:errorclass="field-error">
                                <option th:each="target : ${targets}" th:value="${target}"
                                        th:text="${target}">LIGHT</option>
                            </select>
                        </div>
                        <div class="col-md-2 py-2">
                            <label for="amount">금액</label>
                        </div>
                        <div class="col-md-4 py-2">
                            <input type="text" id="amount" th:field="*{amount}" class="form-control" placeholder="구매 금액">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header bg-info">
                    게임선택
                </div>
                <div class="card-body">

                    <div th:each="i : ${#numbers.sequence(1, 10)}">

                        <div class="row">
                            <div class="col-md-1 py-2">
                                <label th:text="${i}"></label>
                            </div>
                            <div class="col-md-4 py-2">
                                <!-- eventId 필드 -->
                                <select th:field="*{eventIds[__${i}__]}" class="form-select">
                                    <option value="">선택안함</option>
                                    <option th:each="event : ${llEvents}" th:value="${event.eventId}"
                                            th:text="${event.displayName}"></option>
                                </select>
                            </div>
                            <div class="col-md-3 py-2">
                                <!-- option 필드 -->
                                <input type="radio" th:field="*{options[__${i}__]}" value="WIN" class="form-check-input"  th:attr="id='option_WIN_' + ${i}">
                                <label th:text="승"></label>

                                <input type="radio" th:field="*{options[__${i}__]}" value="DRAW" class="form-check-input"  th:attr="id='option_DRAW_' + ${i}">
                                <label th:text="무"></label>

                                <input type="radio" th:field="*{options[__${i}__]}" value="LOSE" class="form-check-input" th:attr="id='option_LOSE_' + ${i}">
                                <label th:text="패"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <button class="w-100 btn btn-secondary btn-lg" type="submit">구매</button>
        </form>

        <!--        <div class="row">-->
<!--            <div class="col-md-6 py-2">-->
<!--                1-->
<!--            </div>-->
<!--            <div class="col-md-6 py-2">-->
<!--              2-->
<!--            </div>-->
<!--        </div>-->
    </div>




    <script>
        function validateEventIds() {
            // 모든 select 요소들을 찾는다.
            var eventIds = [];

            // 각 eventId를 순회하면서 값을 eventIds 배열에 추가
            for (var i = 1; i < 11; i++) {
                var eventId =  document.getElementById('eventIds' + i).value;


                if (eventId && eventIds.includes(eventId)) {
                    alert('같은 게임을 여러 번 선택할 수 없습니다!');
                    return false; // 폼 전송을 중지하고 알림 표시
                }

                var optionWin = document.getElementById('option_WIN_' + i).checked;
                var optionDraw = document.getElementById('option_DRAW_' + i).checked;
                var optionLose = document.getElementById('option_LOSE_' + i).checked;


                // 옵션 선택 여부 검사
                if (eventId && !(optionWin || optionDraw || optionLose)) {
                    alert('게임 ' + i + '에서 옵션을 선택해주세요!');
                    return false; // 폼 제출 중단
                }
                eventIds.push(eventId);
            }

            return true; // 폼 전송 계속 진행
        }
    </script>
</body>
</html>